*{
    outline: none;
    scroll-behavior: smooth;
}
body {
    height: 100vh;
    min-height: 900px;
    font-family: monospace;
    display: flex;
    align-self: center;
    background: rgb(1,48,77);
    background: linear-gradient(0deg, rgb(40, 123, 175) 0%, rgb(43, 152, 255) 100%);
    background-repeat: no-repeat;
    color: rgb(77, 77, 77);
}

/* VALORES GLOBALES */
h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    background: linear-gradient(to top, rgb(40, 123, 175) ,rgb(0, 121, 235)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* BARRA LATERAL"MENU" */
aside{
    height: 900px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(40, 103, 230);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
}
@import "./atoms/nav";

/* DESCRIPCION DE LAS PREGUNTAS */
.description{
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.wrapper {
    width: 1200px;
    max-height: 900px;
    display: grid;
    grid-template-columns: 30% 70%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
.box-container{
    width: 800px;
    height: 800px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-self: center;
    justify-self: center;
    overflow-y: scroll;
}
/* CONTENEDOR DE LAS PREGUNTAS */
.question{
    width: auto;
    padding: 50px 100px;
    box-sizing: border-box;
    text-align: center;
    // background: rgba(243, 247, 251, 0.411);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 50px;
    transition: 0.5s;
}
.question:hover{
    box-shadow: 0px 0px 10px 3px rgba(73, 91, 255, 0.294);
    transition: 0.3s;
}

/* CONTENEDOR DE LOS OPERADORES */
.operation{
    max-width: 500PX;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.block{
    display: block;
}

.operation p{
    font-weight: bold;
}
.input{
    padding: 10px;
    font-size: 16PX;
    box-sizing: border-box;
    border: none;
    background: rgba(0, 4, 255, 0.05);
    border-bottom: 2px solid rgb(40, 103, 230);
    color: inherit;
    margin: 0 5px 20px 5px;
    text-align: center;
}

@import "./atoms/button";


.box-reply p{
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 800;
}
.reply{
    box-sizing: border-box;
    text-align: center;
    background: none;
    border: none;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(40, 103, 230);
}
/* FOOTER */
footer{
    font-size: 16px;
    text-align: center;
    color: #fff;
}
footer a{
    font-weight: bold;
    text-decoration: none;
}
footer a:hover{
    background-color: rgba(0, 121, 235, 0);
}