.date{
    // display: flex;
    // align-items: center;
    text-align: center;
}
.date img{
    width: 80px;
    border-radius: 100px;
}
.date h1{
    padding-left: 10px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(218, 225, 245);
    text-shadow: 2px 2px 5px rgba(24, 12, 126, 0.445);
}
.date hr{
    border: 1px solid #0405464d;
}
header{
    min-width: 210px;
    height: 900px;
    overflow-y: scroll;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: rgb(40, 103, 230);
    box-shadow: inset 0 0 15px 0 rgb(56, 82, 231);
}
header nav{
    height: 75%;
}
header ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header ul li{
    margin:1px 0;
}

header ul li:nth-child(15){
    padding-bottom: 0;
}
li a{
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
    border-radius: 20px;
    box-sizing: border-box;
    transition: .5s;
    // text-transform: uppercase;
}
/*a:link { color: blue; }*/          /* Enlaces no visitados */
/*a:visited { color: purple; } */    /* Enlaces visitados */
a:hover {
    background: rgba(0, 162, 255, 0.527);
    border-radius: 20px;
    transition: 0.3s;
}  /* El usuario esta sobre el enlace */
a:active { color: rgb(185, 235, 255); }        /* Enlaces activos */
a i{
    color: rgb(255, 255, 255);
}
// STYLOS DEL SCROLL
header::-webkit-scrollbar{
    width:7px ;
}
header::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.589);
    border-radius: 10px;
}